# Flutter
.dart_tool/
.packages
.pub-cache/
build/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment & Database
.env
*.env
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db